{% extends 'base-dashboard.html' %}

{% block content %}
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Section Start
			*************************************-->
			<section class="tg-dbsectionspace tg-haslayout">
				<div class="row">
					<form class="tg-formtheme tg-formdashboard">
						<fieldset>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
								<div class="tg-dashboardbox tg-privacysetting">
									<div class="tg-dashboardboxtitle">
										<h2>Privacy Settings</h2>
									</div>
									<div class="tg-dashboardholder">
										<ul>
											<li>
												<div class="tg-checkbox">
													<input id="tg-privacysettingsone" type="checkbox" name="privacy settings" value="yes" checked>
													<label for="tg-privacysettingsone">Make my profile photo public</label>
												</div>
											</li>
											<li>
												<div class="tg-checkbox">
													<input id="tg-privacysettingstwo" type="checkbox" name="privacy settings" value="yes" checked>
													<label for="tg-privacysettingstwo">I want to receive monthly newsletter</label>
												</div>
											</li>
											<li>
												<div class="tg-checkbox">
													<input id="tg-privacysettingsthree" type="checkbox" name="privacy settings" value="no">
													<label for="tg-privacysettingsthree">I want to receive e-mail notifications of offers/messages</label>
												</div>
											</li>
											<li>
												<div class="tg-checkbox">
													<input id="tg-privacysettingsfour" type="checkbox" name="privacy settings" value="yes" checked>
													<label for="tg-privacysettingsfour">I want to receive e-mail alerts about new listings</label>
												</div>
											</li>
											<li>
												<div class="tg-checkbox">
													<input id="tg-privacysettingsfive" type="checkbox" name="privacy settings" value="no">
													<label for="tg-privacysettingsfive">Enable offers/messages option in all my ads Post</label>
												</div>
											</li>
										</ul>
										<button class="tg-btn" type="buttton">Update</button>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
								<div class="tg-dashboardbox tg-deleteaccount">
									<div class="tg-dashboardboxtitle">
										<h2>Delete Account</h2>
									</div>
									<div class="tg-dashboardholder">
										<div class="form-group">
											<div class="tg-select">
												<select>
													<option>Select Reason</option>
													<option>Select Reason</option>
													<option>Select Reason</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<textarea name="description" class="form-control" placeholder="Description*"></textarea>
										</div>
										<button class="tg-btn" type="button" data-toggle="modal" data-target="#tg-modaldeleteconfirmation">Delete</button>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</section>
			<!--************************************
					Section End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}
	<!--************************************
			Theme Modal Box Start
	*************************************-->
	<!--<div id="tg-modaldeleteconfirmation" class="modal fade tg-thememodal tg-modaldeleteconfirmation" tabindex="-1" role="dialog">
		<div class="modal-dialog tg-thememodaldialog" role="document">
			<button type="button" class="tg-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-content tg-thememodalcontent">
				<h2>Are You Sure You Want To Delete?</h2>
				<p>After deleting your Account you will lose all your Ads, Favorites and Offers/Messages.</p>
				<div class="tg-btnsactions">
					<button class="tg-btn" type="button">Yes! Delete Now</button>
					<button class="tg-btn" type="button">No! Go Back</button>
				</div>
			</div>
		</div>
	</div>-->
	<!--************************************
			Theme Modal Box End
	*************************************-->
