{% extends 'base-main.html' %}

{% block content %}
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-content" class="tg-content">
							<div class="tg-sectionhead tg-sectionheadvtwo">
								<div class="tg-title">
									<h2>Best Price Guaranteed</h2>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="row">
								<div class="tg-packages">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-package">
											<div class="tg-packagehead">
												<h3>Basic Package</h3>
												<h4>from <span>$0.00</span> per month</h4>
											</div>
											<div class="tg-packagebody">
												<ul>
													<li>
														<strong>Total Ads</strong>
														<span>No. Of Total Ads: 01</span>
													</li>
													<li>
														<strong>Regular Ads</strong>
														<span>No. Of Regular Ads: 01</span>
													</li>
													<li>
														<strong>Featured Ads</strong>
														<span>No. Of Featured Ads: 00</span>
													</li>
													<li>
														<strong>Total Saving</strong>
														<span>Saving in This Pakcage: 20%</span>
													</li>
													<li>
														<strong>Featured Ads Validity</strong>
														<span>Featured Ads Validity: 00 Days</span>
													</li>
													<li>
														<strong>Package Validity</strong>
														<span>Full Package Validity: 30 Days</span>
													</li>
												</ul>
											</div>
											<div class="tg-packagefoot">
												<a class="tg-btn" href="javascript:void(0);">Buy Now</a>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-package">
											<div class="tg-packagehead">
												<h3>Value Package</h3>
												<h4>from <span>$29.30</span> per month</h4>
											</div>
											<div class="tg-packagebody">
												<ul>
													<li>
														<strong>Total Ads</strong>
														<span>No. Of Total Ads: 01</span>
													</li>
													<li>
														<strong>Regular Ads</strong>
														<span>No. Of Regular Ads: 01</span>
													</li>
													<li>
														<strong>Featured Ads</strong>
														<span>No. Of Featured Ads: 00</span>
													</li>
													<li>
														<strong>Total Saving</strong>
														<span>Saving in This Pakcage: 20%</span>
													</li>
													<li>
														<strong>Featured Ads Validity</strong>
														<span>Featured Ads Validity: 00 Days</span>
													</li>
													<li>
														<strong>Package Validity</strong>
														<span>Full Package Validity: 30 Days</span>
													</li>
												</ul>
											</div>
											<div class="tg-packagefoot">
												<a class="tg-btn" href="javascript:void(0);">Buy Now</a>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-package">
											<div class="tg-packagehead">
												<h3>Plus Package</h3>
												<h4>from <span>$40.00</span> per month</h4>
											</div>
											<div class="tg-packagebody">
												<ul>
													<li>
														<strong>Total Ads</strong>
														<span>No. Of Total Ads: 01</span>
													</li>
													<li>
														<strong>Regular Ads</strong>
														<span>No. Of Regular Ads: 01</span>
													</li>
													<li>
														<strong>Featured Ads</strong>
														<span>No. Of Featured Ads: 00</span>
													</li>
													<li>
														<strong>Total Saving</strong>
														<span>Saving in This Pakcage: 20%</span>
													</li>
													<li>
														<strong>Featured Ads Validity</strong>
														<span>Featured Ads Validity: 00 Days</span>
													</li>
													<li>
														<strong>Package Validity</strong>
														<span>Full Package Validity: 30 Days</span>
													</li>
												</ul>
											</div>
											<div class="tg-packagefoot">
												<a class="tg-btn" href="javascript:void(0);">Buy Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}
